.card{
    border: 1.5px dotted;
    border-radius: 15px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .example-full-width {
    width: 100%;
    font-weight: 400 !important;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif; 
  }